body .main--div main .other-projects a, body .main--div main .discreption p {
  line-break: normal;
  font-size: 23px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.74);
  line-height: 30px;
  letter-spacing: 1px;
  padding: 5px;
  margin: 5px;
  text-transform: capitalize; }

body .main--div main .discreption h1, body .main--div main .discreption h2 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: bold;
  color: #398316;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 5px;
  margin: 5px;
  text-transform: capitalize; }

body .main--div header .navigation ul .navigation--link1 i, body .main--div main .discreption i, body .main--div main .discreption a {
  font-size: 30px;
  color: rgba(57, 131, 22, 0.781); }

body .main--div main .imgs div img {
  box-shadow: 0px 0px 3px 2px rgba(131, 173, 111, 0.4);
  width: 100%;
  filter: brightness(0.8);
  padding: 10px;
  height: 100%;
  border-radius: 10px; }

body .main--div main .discreption .url button {
  color: rgba(0, 0, 0, 0.74);
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding: 20px;
  margin: 25px;
  border: 2px solid rgba(128, 128, 128, 0.692);
  border-radius: 40px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 0px 3px 9px 2px #80808091;
  transition: background-color 0.65s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../CV/img/background.jpeg);
  background-size: cover;
  background-attachment: fixed; }
  body .main--div {
    padding: 10px;
    margin: 40px;
    border-radius: 20px;
    border: 1px solid rgba(57, 131, 22, 0.37);
    background-color: whitesmoke; }
    body .main--div header {
      padding: 50px 30px 100px 30px; }
      body .main--div header .navigation ul {
        color: rgba(0, 0, 0, 0.74);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style: none; }
        body .main--div header .navigation ul .navigation--link1 {
          grid-column: 1/3;
          text-transform: capitalize;
          font-size: 20px;
          font-weight: bolder;
          font-family: sans-serif; }
        body .main--div header .navigation ul .navigation--link {
          padding-top: 7px; }
          body .main--div header .navigation ul .navigation--link a {
            font-family: sans-serif;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.74);
            text-transform: capitalize;
            font-size: 25px; }
    body .main--div main .imgs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin: 2% 0px; }
      body .main--div main .imgs div {
        border: 1px solid rgba(57, 131, 22, 0.781);
        border-radius: 10px;
        margin: 20px;
        padding: 10px; }
    body .main--div main .other-projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      margin: 3% 0px; }
      body .main--div main .other-projects a {
        text-decoration: none; }
    body .main--div main .discreption .date {
      display: flex;
      margin: 20px 10px;
      padding: 5px; }
      body .main--div main .discreption .date i {
        margin-top: 5px; }
    body .main--div main .discreption .disc {
      width: 35%;
      margin: 25px 0px; }
    body .main--div main .discreption h1 {
      color: rgba(0, 0, 0, 0.74); }
    body .main--div main .discreption .technology {
      margin: 20px 0px; }
      body .main--div main .discreption .technology p {
        display: inline;
        border: 1px solid rgba(81, 85, 78, 0.219); }
    body .main--div main .discreption .contact {
      margin: 10px 0px; }
      body .main--div main .discreption .contact i {
        padding: 0px 10px;
        margin: 19px 0px; }
    body .main--div main .discreption .url button {
      border: 3px solid rgba(57, 131, 22, 0.781); }
    body .main--div main .discreption .url button:hover {
      background-color: rgba(57, 131, 22, 0.781);
      border: none; }
      body .main--div main .discreption .url button:hover a {
        color: #fafafa; }
    body .main--div main .discreption h2 {
      color: rgba(0, 0, 0, 0.74);
      margin: 25px 0px; }
    body .main--div main .discreption a {
      text-decoration: none; }
    body .main--div .footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 2% 0px; }
      body .main--div .footer a {
        text-decoration: none; }
      body .main--div .footer h4 {
        font-size: 18px;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.74);
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        text-transform: capitalize; }
      body .main--div .footer .cr {
        grid-column: 4/5;
        font-size: 15px;
        padding: 10px; }

/*# sourceMappingURL=projects.css.map */
